<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
    <title>Blog-CMS Admin Panel</title>
  </head>
  <body>
    <form class="m-5" action="#">
      <div class="form-group">
        <label for="title"> Post Title:</label>
        <input type="text" id="title" class="form-control" />
      </div>
      <div class="form-group">
        <label for="content"> Post Content:</label>
        <textarea
          name="content"
          id="content"
          cols="30"
          rows="10"
          class="form-control"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="publishedDate"> Published Data:</label>
        <input type="date" id="publishedDate" class="form-control" />
      </div>
      <div class="form-group">
        <label for="unpdateDate"> Last Update Date:</label>
        <input type="date" id="unpdateDate" class="form-control" />
      </div>
      <div class="form-group">
        <label for="author"> Author Name:</label>
        <input type="text" id="author" class="form-control" />
      </div>
      <div class="form-group">
        <label for="timeToRead"> Time to Read:</label>
        <input type="number" id="timeToRead" class="form-control" />
      </div>
    </form>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
